<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <app-datepicker></app-datepicker>
        </div>
    </div>
</div>
<hr/>

<app-recent-reviews></app-recent-reviews>
<div class="mt-3">
    <app-best-schools></app-best-schools>
</div>

<!--
<div *ngIf="serverData!==null">
    <div *ngIf="serverData.length!==1">
        <div class="mt-3 mb-3 ml-3 mr-3" >
            <h2>Recent Reviews</h2>
            <app-recent-reviews></app-recent-reviews>
        </div>

        <div class="mt-3 mb-3 ml-3 mr-3">
            <h2>School-Wise Score</h2>
        </div>
    </div>

    <div *ngIf="serverData.length===1">
        <app-dashboard></app-dashboard>
        <hr/>
    </div>


</div>
-->