<div class="d-flex justify-content-center">
    <app-search></app-search>
</div>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <app-datepicker></app-datepicker>
        </div>
        <div class="col">
            <app-datepicker2></app-datepicker2>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
                <app-officersearch></app-officersearch>       
        </div>
        <div class="col">
            <app-teachersearch></app-teachersearch>
        </div>
    </div>
</div>

<div class="ml-3">
    <h1>This is the dashboard</h1>
    <button mat-raised-button color="primary" [disableRipple]="true" (click)="getData()"> Fetch The Result</button>
    <div *ngIf="serverData!==null">
        <p>The data received is as follows</p>
        <pre>{{serverData.count}}</pre>
    </div>
</div>