<div>
    <div class="d-flex justify-content-center">
        <mat-form-field appearance="fill">
            <mat-label>Record Date</mat-label>
            <mat-select>
              <mat-option *ngFor="let option of Options" [value]="option">
                {{option  | date:'mediumDate'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <hr/>
    <div  class="d-flex justify-content-center">
    <div class="example-button-row">
        <button mat-raised-button color="primary" value="Convert" (click)="convetToPDF()">
            Export
        </button>
    </div>
    </div>
    <hr/>
    <div  class="d-flex justify-content-center">
       <h1>The below report can be exported</h1> 
    </div>
    <hr/>
        <pre id="contentToConvert">
            <div >
                <app-title-header></app-title-header>
                <app-full-detailed-table></app-full-detailed-table>
                <div class="mt-3 mb-3">
                    <app-score-line-chart></app-score-line-chart>
                </div>
            </div>
        </pre>
</div>